@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');

body {
  margin: 0;
  font-family: 'Rubik', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar, links and buttons */

.cs-navlink{
  color: hsl(229, 31%, 21%) !important;
  letter-spacing: 2px;
}

.cs-navlink:hover{
  color: hsl(0, 94%, 66%) !important;
}

.cs-navlink-2{
  background-color: transparent !important;
  color: hsl(229, 8%, 60%) !important;
  border: none !important;
  position: relative;
}

.cs-navlink-2:hover{
  color:hsl(0, 94%, 66%) !important;
}

.cs-navlink-2:hover::after, .cs-navlink-2.active::after{
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  position: absolute;
  background-color: hsl(0, 94%, 66%);
  bottom: 0;
  left: 0;
}

.cs-navlink-2.active{
  color: hsl(229, 31%, 21%) !important;
}

.cs-navlink-2.active:hover{
  color:hsl(0, 94%, 66%) !important;
}

.cs-navlink-2::before{
  content: "";
  display: block;
  width: 150%;
  height: 1px;
  position: absolute;
  background-color: hsl(229, 8%, 60%);
  bottom: 0;
  left: -25%;
  z-index: -1;
}

.cs-btn{
  font-family: 'Rubik', sans-serif !important;
  border: solid 2px hsl(0, 94%, 66%) !important;
  background-color: hsl(0, 94%, 66%) !important;
  color: white !important;
  width: 120px;
  height: 50px;
  letter-spacing: 2px;
}

.cs-btn:hover{
  background-color: transparent !important;
  color: hsl(0, 94%, 66%) !important;
}

.cs-btn-ch{
  font-family: 'Rubik', sans-serif !important;
  border: solid 2px hsl(231, 69%, 60%) !important;
  background-color: hsl(231, 69%, 60%) !important;
  color: white !important;
  width: 160px;
  height: 50px;
}

.cs-btn-ch:hover{
  background-color: transparent!important;
  color: hsl(231, 69%, 60%) !important;
}

.cs-btn-ff{
  font-family: 'Rubik', sans-serif !important;
  border: solid 2px hsl(229, 8%, 95%) !important;
  background-color: hsl(229, 8%, 95%) !important;
  color: hsl(229, 31%, 21%) !important;
  width: 160px;
  height: 50px;
}

.cs-btn-ff:hover{
  border: solid 2px hsl(229, 31%, 21%) !important;
  color: hsl(229, 31%, 21%) !important;
}
/* Custom font */

.cs-fw{
  font-weight: 500 !important;
}

.cs-c{
  color: hsl(229, 8%, 60%);
}

/* Sections */

.cs-bg{
  position: relative;
}

.cs-bg::before{
  content: '';
  height: 80%;
  width: 100%;
  bottom: -5%;
  right: -30%;
  background-color: hsl(231, 69%, 60%);
  position: absolute;
  border-radius: 400px 0 0 400px;
  z-index: -1;
}

.cs-b{
  border-bottom: solid 1px hsl(229, 8%, 60%);
}

.cs-b-2{
  position: relative;
}

.cs-br{
  background-image: linear-gradient(to right, hsl(229, 8%, 80%) 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 12px 4px;
  background-repeat: repeat-x;
}

.cs-b-2::before{
  content: '';
  height: 300px;
  width: 110%;
  bottom: -25%;
  left: -30%;
  background-color: hsl(231, 69%, 60%);
  position: absolute;
  border-radius: 0 400px 400px 0;
  z-index: -1;
}